@{
    ViewData["Title"] = "Home Page";
}
@model object

<div class="text-center">
    
    @{
        string message = string.Empty;
        if (Model != null && Model is string)
        {
            message = $"{Model as string}, вы успешно подтвердили свой email!";
        }
    }
    <h2>@message</h2>
    <h4 class="display-4">Welcome to admin tools</h4>

</div>
