
@{
    ViewData["Title"] = "Create";
}

    <div class="text-center">
        <h1 class="display-4">Create</h1>
        <a>ContentRoot:@ViewBag.pathContent</a><br />
        <a>WebRoot:@ViewBag.pathWeb</a><br />
        <a>Path to act:@ViewBag.path_docx</a>
    </div>