@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style type="text/css">
    .tab {
        text-indent: 20px;
    }

    .title {
        color: darkslategrey;
        font-weight: bold;
        font-size: larger;
    }
</style>
<div class="tab">
    <p class="title">Просмотр выданных актов</p>
    <p>
        Просматривать выданные акты могут все без авторизации и ограничений в разделе «Выданные»
    </p>
    <hr />
    <p class="title"> Регистрация</p>
    <p style="color:darkred">! Зарегистрироваться в программе могут только пользователи имеющие e-mail в домене brestenergo.by</p>
    <p>
        <ul>
            <li>
                Для регистрации выберите свой e-mail в выпадающем списке и придумайте пароль (не менее 4 символов), затем нажмите кнопку «Регистрация».
            </li>
            <li>
                Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме.
            </li>
            <li>
                После этого вы сможете авторизоваться в программе и будете иметь возможность согласовывать Акты.
            </li>
        </ul>
    </p>
    <p style="color:darkred">Если вы являетесь техническим работником, который должен вводить Акты, то для получения прав оператора программы сообщите об этом по телефону 3-17.</p>
    <hr />
    <p class="title">Авторизация («Вход»)</p>
    <p>
        Внизу страницы можно ознакомиться со списком зарегистрированных пользователей и их правами.
        Если не нашли себя в этом списке, пройдите регистрацию. Для авторизации заполните поля «Email» и «Пароль». «Войти».
    </p>
    <hr />
    <p class="title">Добавление нового акта разграничения («Создать»)</p>
    <p>
        <ul>
            <li>
                Ссылка «Создать». Выберите из списка выданных технических условий нужного абонента затем «Сохранить».
            </li>
            <li>
                Вы перейдете к странице «Редактирование Акта». В Правой колонке можно видеть всю информацию по акту,
                которая была взята из технических условий. В левой колонке необходимо заполнить нужные поля. «Сохранить».
            </li>
            <li>
                Редактирование схемы питания электроустановки. Здесь вы можете просмотреть схемы ТП и линий 0,4кВ соответствующие точке подключения.
            </li>
            <li>
                Выберите шаблон для схемы питания электроустановки и соотнесите в соответствии с ним все подписи и границы раздела. «Сохранить».
            </li>
            <li>
                После этого вы окажетесь на странице «Подробно», где можно увидеть общую информацию по акту. Внизу есть «Лист согласования».
                Отметьте необходимых лиц. «Сформировать для согласования».
                Если пользователь, который должен согласовать акт зарегистрирован в программе, ему на электронную почту придет уведомление с ссылкой для согласования.
            </li>
        </ul>
    </p>
    <hr />
    <p class="title">Редактирование актов («Выданные»)</p>
    <p>
        В этом пункте вы можете видеть список тех актов, которые находятся в работе. Они могут находиться в следующих статусах:
        <ul>
            <li>
                Редактирование.  Акты, находящиеся в этом статусе, можно изменить или удалить. Для смены статуса необходимо «Сформировать для согласования».
            </li>
            <li>
                На согласовании. Акты в этом статусе находятся до момента согласования всеми согласующими либо до отправки на доработку одним из них.
                По ссылке «Подробно» можно перейти и посмотреть кто из согласующих уже принял решение и было ли ему отправлено уведомление на email.
            </li>
            <li>
                На доработку. Этот статус означает, что у кого-то из согласующих есть замечания к составленному акту.
                Чтобы увидеть эти замечания перейдите по ссылке «Подробно». Исправьте акт и повторно отправьте на согласование.
            </li>
            <li>
                Согласован. Если акт имеет статус согласован, то его нужно «открыть» и распечатать для подписи представителем энергоснабжающей организации и потребителем.
                Затем, перейдя по ссылке «Подробно» и опустившись в низ страницы, «Выбрать файл», указать на отсканированный акт в формате .pdf, «Закачать подписанный акт».
            </li>
        </ul>
    </p>
    <hr />
    <p class="title">«Согласование»</p>
    <p>
        В этом разделе согласующий переходит по ссылке «согласование», где можно просмотреть составленный акт и принять решение: «да» или «нет».
        При неодобрительном ответе в поле «замечания» укажите причину.
    </p>
    <hr />
    <p class="title">«Справочники»</p>
    <p>
        Этот раздел может править только администратор. 3-17
    </p>
</div>