@{
    ViewData["Title"] = "Начальная";
}
@model object

<div class="text-center">
    <h4 class="display-2">Добро пожаловать!</h4>
    @{
        string message = string.Empty;
        if (Model != null && Model is string)
        {
            message = $"{Model as string}, вы успешно подтвердили свой email!";
        }
    }
    <h2>@message</h2>
    <p>
        Разработанная программа "Акты разграничений" предназначена для выдачи и учета актов
        разграничения балансовой принадлежности электросетей
        и эксплуатационной ответственности сторон между энергоснабжающей организацией филиалом"Пинские электрические сети" РУП "Брестэнерго" и
        физическими и юридическими лицами.
    </p>
    <p>

    </p>
</div>
